html,
body,
#preferences.ui.modal > .content {
  background-color: #ecf0f1;
}

div#root, div#tabs {
  height: 100%;
}

#app-title {
  margin-bottom: 0;
  align-self: center;
  padding-left: 1em;
}

/* hack to hav a tab panel fill remaining space 
   TODO: fix later with flex or smthg */
.ui.bottom.attached.segment.tab {
  min-height: calc(100% - 41px); 
}

.ui.form .field,
.ui.form .field:last-child,
.ui.form .fields:last-child .field {
  margin: 0 0 0.5em;
}
.ui.primary.button.basic-inverted:hover,
.ui.blue.label.basic-inverted:hover {
  color: white !important;
  background-color: #2185d0 !important;
}
#test-status.ui.dividing.header {
  font-size: 1.15rem;
  padding-top: 0.7em;
  padding-bottom: 0.55em;
  border-bottom: 2px solid rgba(34, 36, 38, 0.15);
}

/* https://github.com/greena13/react-hotkeys#blue-border-appears-around-children-of-hotkeys */
div[tabindex='-1']:focus {
  outline: 0;
}